body {
	background: #F5F5F5;
	font-size: 18px;
	color: #696969;
	font-weight: bold;

}
.calculator {
	width: 300px;
	margin: 0 auto;
	border: 3px solid #696969;
	margin-top: 150px;
	background: #DCDCDC;
}
form {
	text-align: center;
	margin: 20px;
	display: block;
}
input {
	border: 3px solid #696969;
	border-radius: 10px;
	font-size: 18px;
	color: #696969;
	text-align: center;
}
#result {
	text-align: center;
	padding: 15px;
	font-size: 18px;
	color: #696969;
}
button {
	width: 150px;
	background-color: white;
	font-size: 18px;
	border-radius: 10px;
	padding: 5px;
	border: 3px solid #696969;
	color: #696969;
	font-weight: bold;
}
select {
	border: 3px solid #696969;
	border-radius: 10px;
	font-size: 18px;
	color: #696969;
}
option {
	font-size: 18px;
	color: #696969;
}